<%= form_with(model: [ budget, transaction ], id: dom_id(transaction), html: {popover: "auto"}) do |form| %>
  <% if transaction.errors.any? %>
    <div class="error-list">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="form-group">
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div class="form-group">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, Transaction.types_for_select %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
